/* Color Theme Swatches in Hex */


/* Color Theme Swatches in RGBA */
$secondary--color: rgba(232,239,242, 1);
$background-color: rgba(242,226,145, 1);

$navbar-color: rgba(75, 76, 48, 0.155);
$font-color: rgb(12, 12, 12);

/* Color Theme Swatches in HSLA */

